<strong>Olá ({{ student.name }}). Sua matricula foi confirmada! </strong>

Começo: ({{ inscription.start_date }})
Término: ({{ inscription.end_date }})
Preço: ({{ inscription.price }})

<small>Atensiosamente equipe Gymapp</small>
